<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car Register</title>
</head>
<body>

<div align="center">
    <form th:object="${car}">
        <label>Car Model:</label>
        <input type="text" th:field="*{model}"><br>

        <label>Car Make:</label>
        <input type="text" th:field="*{make}"><br>


        <label>Year:</label>
        <select th:field="*{year}">
            <option th:each="carYearList : ${yearList}" th:value="${carYearList}" th:text="${carYearList}"></option>
        </select><br>


        <button type="submit">Register</button>

    </form>


</div>

</body>
</html>